.*.callgrind.out.*
Makefile*
*.pro.user*
*.qmlproject.user*
.*.swp
*.o
*.moc
.qmake.cache
config.log
config.tests/egl/egl
config.tests/glx/glx
config.tests/wayland_egl/wayland_egl
config.tests/xcomposite/xcomposite
config.tests/xkbcommon/xkbcommon
config.tests/wayland/wayland
config.tests/wayland_scanner/wayland_scanner
config.tests/wayland_scanner/*-client-protocol.h
config.tests/wayland_scanner/*-protocol.c
qrc_*.cpp
moc_*.cpp
.obj/
.moc/
mkspecs/
lib/
include/
bin/
/plugins/
examples/qml-compositor/qml-compositor
examples/qwidget-compositor/qwidget-compositor
examples/qwindow-compositor/qwindow-compositor
src/compositor/*-server-protocol.h
src/compositor/*-protocol.c
src/compositor/qwayland-server-*.cpp
src/compositor/qwayland-server-*.h
src/plugins/platforms/*/*-client-protocol.h
src/plugins/platforms/*/*-protocol.c
src/plugins/platforms/*/qwayland-*.cpp
src/plugins/platforms/*/qwayland-*.h
src/plugins/waylandcompositors/*/*-server-protocol.h
src/plugins/waylandcompositors/*/*-protocol.c
src/plugins/waylandcompositors/*/qwayland-server-*.cpp
src/plugins/waylandcompositors/*/qwayland-server-*.h
src/plugins/platforms/wayland_common/libwayland_common.a
src/plugins/platforms/wayland_common/libwayland_common.prl
tests/auto/client/tst_client
tests/auto/compositor/tst_compositor
