.*.callgrind.out.*
Makefile*
*.pro.user*
*.qmlproject.user*
.*.swp
*.o
*.moc
.qmake.cache
config.log
config.tests/egl/egl
config.tests/glx/glx
config.tests/wayland_cursor/wayland_cursor
config.tests/wayland_egl/wayland_egl
config.tests/xcomposite/xcomposite
config.tests/xkbcommon/xkbcommon
config.tests/wayland/wayland
config.tests/drm_egl_server/drm_egl_server
config.tests/wayland_scanner/wayland_scanner
config.tests/wayland_scanner/*-client-protocol.h
config.tests/wayland_scanner/*-protocol.c
qrc_*.cpp
moc_*.cpp
.obj/
.moc/
mkspecs/
lib/
include/
bin/
/plugins/
examples/wayland/qml-compositor/qml-compositor
examples/wayland/qwidget-compositor/qwidget-compositor
examples/wayland/qwindow-compositor/qwindow-compositor
examples/wayland/server-buffer/client/client
examples/wayland/server-buffer/client/qwayland-*.cpp
examples/wayland/server-buffer/client/qwayland-*.h
examples/wayland/server-buffer/client/*-client-protocol.h
examples/wayland/server-buffer/client/*-protocol.c
examples/wayland/server-buffer/compositor/compositor
examples/wayland/server-buffer/compositor/qwayland-server-*.cpp
examples/wayland/server-buffer/compositor/qwayland-server-*.h
examples/wayland/server-buffer/compositor/*-server-protocol.h
examples/wayland/server-buffer/compositor/*-protocol.c
src/client/qwayland*.cpp
src/client/*-protocol.c
src/compositor/*-server-protocol.h
src/compositor/*-protocol.c
src/compositor/qwayland-server-*.cpp
src/compositor/qwayland-server-*.h
src/plugins/platforms/*/*-client-protocol.h
src/plugins/platforms/*/*-protocol.c
src/plugins/platforms/*/qwayland-*.cpp
src/plugins/platforms/*/qwayland-*.h
src/plugins/waylandcompositors/*/*-server-protocol.h
src/plugins/waylandcompositors/*/*-protocol.c
src/plugins/waylandcompositors/*/qwayland-server-*.cpp
src/plugins/waylandcompositors/*/qwayland-server-*.h
src/plugins/platforms/wayland_common/libwayland_common.a
src/plugins/platforms/wayland_common/libwayland_common.prl
src/plugins/hardwareintegration/*/*/qwayland*.cpp
src/plugins/hardwareintegration/*/*/qwayland*.h
src/plugins/hardwareintegration/*/*/*-server-protocol.h
src/plugins/hardwareintegration/*/*/*-client-protocol.h
src/plugins/hardwareintegration/*/*/*-protocol.c
tests/auto/client/tst_client
tests/auto/compositor/tst_compositor
*~
