.*.callgrind.out.*
Makefile*
*.pro.user*
*.qmlproject.user*
.*.swp
*.o
*.moc
.qmake.cache
config.tests/egl/egl
config.tests/glx/glx
config.tests/wayland_egl/wayland_egl
config.tests/xcomposite/xcomposite
config.tests/xkbcommon/xkbcommon
qrc_*.cpp
moc_*.cpp
.obj/
.moc/
mkspecs/
lib/
include/
src/compositor/qtcompositorversion.h
src/compositor/*-server-protocol.h
src/compositor/*-protocol.c
src/plugins/platforms/wayland/*-client-protocol.h
src/plugins/platforms/wayland/*-protocol.c
