version: 2
alias: qtwayland
accept_configuration:
  condition: property
  property: features
  not_contains_value: Disable

instructions:
  Build:
    - !include "{{qt/qtbase}}/coin_module_build_template_v2.yaml"

  Test:
    - type: Group
      instructions:
        - !include "{{qt/qtbase}}/coin_module_test_template_v3.yaml"
      disable_if:
        condition: or
        conditions:
          - condition: property
            property: host.os
            in_values: ["Windows", "MacOS"]
          - condition: property
            property: target.os
            in_values: ["IOS", "Android", "WebAssembly"]
    - type: EnvironmentVariable
      variableName: Dummy
      variableValue: dummy

